.advantages {
  background-color: #F2F2F2;
  padding: 15px 0;

  @include desktop {
    padding: 30px 0;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop {
    justify-content: space-between;
  }
}

.advantages__item {
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 100px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  min-width: 180px;
  margin: 0 5px;
  margin-bottom: 15px;

  @include desktop {
    margin-bottom: 0;
  }
}
