.modal {
  max-width: 350px;
  padding: 10px;
  display: none;

  @include desktop {
    max-width: 400px;
    padding: 15px;
  }
}

.modal-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal__input-title {
  margin-bottom: 5px;
  font-size: 14px;
}

.modal label {
  margin-bottom: 10px;
}

.modal input,
.modal textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid $grey;
  padding: 5px;
  font-size: 14px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    border-color: darken($grey, 10%);
  }
}

.modal__button {
  width: 200px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $red;
  padding: 8px;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    background-color: $red;
    color: #FFFFFF;
  }
}

.modal .filter__check-label {
  font-size: 14px;
}

.modal-privacy {
  @include tablet {
    max-width: 70%;
  }

  @include desktop {
    max-width: 800px;
  }
}

.modal__input-title.red {
  &::after {
    color: $red;
    content: "*";
  }
}
