.rental__list {
  @include media(600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include desktop {
    justify-content: flex-start;
    margin-bottom: 50px;
  }
}

.rental__item {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  margin-bottom: 10px;

  @include media(600px) {
    margin: 5px 10px;
  }

  @include tablet {
    margin: 5px 15px;
  }

  @include desktop {
    max-width: 270px;
    margin-right: 30px;
    margin-left: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
}

.rental__item:nth-child(4n) {
  margin-right: 0;
}

.rental__item-img {
  align-self: center;
}

.rental__item-title {
  align-self: flex-start;
  text-transform: uppercase;
  color: $black;
}

.rental__item-title  h2 {
  font-size: 14px;
}

.rental__info-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 7px 0;
}

.rental__info-item div {
  font-size: 12px;
  color: $grey;
}

.rental__info-item div:last-child {
  font-weight: 700;
}

.rental__item-link-wrap {
  text-align: center;
  margin-top: 30px;
}

.rental__item-link {
  border: 1px solid #E72B2B;
  border-radius: 5px;
  color: $red;
  font-size: 14px;
  text-align: center;
  max-width: 200px;
  padding: 7px 30px;
  display: inline-block;
}

.text-block {
  font-size: 14px;
  font-weight: 300;
}

.text-block ul {
  padding: 0;
  list-style: none;
}

.text-block li {
  position: relative;
  padding-left: 15px;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: $red;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
  }
}

.rental-page__conditions {
  @include desktop {
    position: relative;
    padding-right: 580px;
    min-height: 420px;

    &::after {
      position: absolute;
      content: "";
      width: 420px;
      height: 100%;
      top: 0;
      right: 60px;
      background-image: url("../img/rental-bg.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
    }
  }
}

.rental-page__conditions-title {
  color: $red;
  margin-bottom: 30px;
}
